<html>
    <head>
        <title>A funky app</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/js/index.js"></script>
    </head>
    <body onload="init()">
        <div>
            <h1>Hello world</h1>
            <input type="button" value="Click here if you want to screw around with SQL!" id="gotosql">
        </div>

        <div id="q1">
            <h2>Q1.</h2>
            <p>
                Find all competitions (calls for grant proposals) open at a user-specified month, which
                already have at least one submitted large proposal. For a proposal to be large, it has to request more
                than $20,000 or to have more than 10 participants, including the principle investigator. Return both
                IDs and the titles.
            </p>

            <form action="/sql/q1" method="post" id="q1_form">
                <label for="q1_date">Choose a date:</label>
                <select name="q1_date" id="q1_date">
                    {{#each months}}
                        <option value="{{this}}" {{#if (eq ../body.q1_date this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
                <br>
                <input type="submit" value="Submit">
            </form>
            
            {{#if q1}} <div id="q1_results">{{> result_table}}</div> {{/if}}
        </div>

        <div id="q2">
            <h2>Q2.</h2>
            <p>
                Next, modify your program for Q1 by allowing the user to specify the areas (e.g., biology
                and chemistry) (s)he is interested in, and only displaying the competitions where the submitted large
                proposals have principle investigators specified by the user.
            </p>
            <form action="/sql/q2" method="post" id="q2_form">
                <label for="q2_date">Choose a date:</label>
                <select name="q2_date" id="q2_date">
                    {{#each months}}
                        <option value="{{this}}" {{#if (eq ../body.q2_date this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>

                <br>

                <label for="q2_area">Select an area:</label>
                <select name="q2_area" id="q2_area">
                    {{#each areas}}
                        <option value="{{this}}" {{#if (eq ../body.q2_area this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>

                <br>

                <label for="q2_first_name">Enter a principle investigator name:</label>
                <input type="text" name="q2_first_name" id="q2_first_name" placeholder="First name" {{#with body.q2_first_name}}value="{{this}}"{{/with}}>
                <input type="text" name="q2_last_name" id="q2_last_name" placeholder="Last name" {{#with body.q2_last_name}}value="{{this}}"{{/with}}>

                <br>

                <input type="submit" value="Submit">
            </form>

            {{#if q2}} <div id="q2_results">{{> result_table}}</div> {{/if}}
        </div>

        <div id="q3">
            <h2>Q3.</h2>
            <p>
                For a user-specified area, find the proposal(s) that request(s) the largest amount of
                money.
            </p>

            <form action="/sql/q3" method="post" id="q3_form">
                <label for="q3_area">Select an area:</label>
                <select name="q3_area" id="q3_area">
                     {{#each areas}}
                        <option value="{{this}}" {{#if (eq ../body.q3_area this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>

                <br>

                <input type="submit" value="Submit">
            </form>

            {{#if q3}} <div id="q3_results">{{> result_table}}</div> {{/if}}
        </div>

        <div id="q4">
            <h2>Q4.</h2>
            <p>
                For a user-specified date, find the proposals submitted before that date that are awarded
                the largest amount of money.
            </p>

            <form action="/sql/q4" method="post" id="q4_form">
                <label for="q4_date">Choose a date:</label>
                <input type="date" name="q4_date" id="q4_date" {{#with body.q4_date}}value="{{this}}"{{/with}}>

                <br>

                <input type="submit" value="Submit">
            </form>

            {{#if q4}} <div id="q4_results">{{> result_table}}</div> {{/if}}
        </div>

        <div id="q5">
            <h2>Q5.</h2>
            <p>
                For an area specified by the user, output its average requested/awarded discrepancy,
                that is, the absolute value of the difference between the amounts.
            </p>

            <form action="/sql/q5" method="post" id="q5_form">
                <label for="q5_area">Select an area:</label>
                <select name="q5_area" id="q5_area">
                    {{#each areas}}
                        <option value="{{this}}" {{#if (eq ../body.q5_area this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>

                <br>

                <input type="submit" value="Submit">
            </form>

            {{#if q5}} <div id="q5_results">{{> result_table}}</div> {{/if}}
        </div>

        <div id="q6">
            <h2>Q6.</h2>
            <p>
                Reviewer assignment: Provide the user with the option of assigning a set of reviewers to
                review a specific grant application (research proposal), one proposal at a time. The proposal ID
                should be specified by the user. Before doing the reviewers assignment, the user should be able to
                request and receive a list of reviewers who are not in conflict with the proposal being reviewed,
                and who still have not reached the maximum of three proposals to review.
            </p>

            <form action="/sql/q6" method="post" id="q6_form">
                <label for="q6_proposal_id">Enter a proposal ID to see valid reviewers:</label>
                <input type="number" name="q6_proposal_id" id="q6_proposal_id" placeholder="Proposal ID number" {{#with body.q6_proposal_id}}value="{{this}}"{{/with}}>

                <br>

                <input type="submit" value="Submit">
            </form>

            {{#if q6}}
                <form action="/sql/q6_assign" method="post" id="q6_assign_form">
                    {{> q6_selection_table}}
                </form>
            {{/if}}
        </div>

        <div id="q7">
            <h2>Q7.</h2>
            <p>
                Meeting scheduling: Your application should check if the user-entered room is available
                at a the user-entered date. If yes, the user should be prompted to enter 3 competitions (calls)
                IDs to be discussed and decided on that day. If a competition cannot be scheduled to be discussed
                on that day (because some of the reviewers are not available), then the user should be prompted
                that scheduling a discussion on that particular competition is impossible on that day (a simplified
                version just returns “Impossible”). Here, for a reviewer “not to be available” means that he or she
                is scheduled to be in another room on the same day.
            </p>

            <form action="/sql/q7" method="post" id="q7_form">
                <input type="submit" value="Submit">
            </form>

            {{#if q7}} <div id="q7_results">{{> result_table}}</div> {{/if}}
        </div>
    </body>
</html>