{{#if result}}

<input type="hidden" name="q6_proposal_id" value="{{body.q6_proposal_id}}">

<table>
    <tr>
        <th>Assign</th>

        {{#each result.fields}}
            <th>{{this.name}}</th>
        {{/each}}
    </tr>
    {{#each result.rows}}
        <tr>
            <td>
                <input type="checkbox" name="q6_insert_reviewers[]" id="q6_insert_reviewers_row{{@index}}" {{#each this}}value="{{this}}"{{/each}}>
            </td>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}
</table>

<input type="submit" value="Submit">
{{else}}
    <p>No valid reviewers found for proposal id!</p>
{{/if}}